In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("marveldata.csv")

In [3]:
df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           16376 non-null  int64
 1   name              16376 non-null  object
 2   urlslug           16376 non-null  object
 3   ID                12606 non-null  object
 4   ALIGN             13564 non-null  object
 5   EYE               6609 non-null   object
 6   HAIR              12112 non-null  object
 7   SEX               15522 non-null  object
 8   GSM               90 non-null     object
 9   ALIVE             16373 non-null  object
 10  APPEARANCES       15280 non-null  float64
 11  FIRST APPEARANCE  15561 non-null  object
 12  Year              15561 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.6+ MB

In [9]:
# Calculate total number of characters according to gender

data = df.groupby(["SEX"]).count()["name"]
data

SEX
Agender Characters           45
Female Characters          3837
Genderfluid Characters        2
Male Characters           11638
Name: name, dtype: int64

In [17]:
# Probability of Character being male

male_prob = data["Male Characters"]/len(df["name"])
male_prob

0.7106741573033708

In [19]:
# Calculate probability of character being female

female_prob = data["Female Characters"]/len(df["name"])
female_prob

0.23430630190522717

In [15]:
# Calculate count of different hair color

hair_color = df.groupby(["HAIR"]).count()["name"]
hair_color

HAIR
Auburn Hair                78
Bald                      838
Black Hair               3755
Blond Hair               1582
Blue Hair                  56
Bronze Hair                 1
Brown Hair               2339
Dyed Hair                   1
Gold Hair                   8
Green Hair                117
Grey Hair                 531
Light Brown Hair            6
Magenta Hair                5
No Hair                  1176
Orange Hair                43
Orange-brown Hair           3
Pink Hair                  31
Purple Hair                47
Red Hair                  620
Reddish Blond Hair          6
Silver Hair                16
Strawberry Blond Hair      47
Variable Hair              32
White Hair                754
Yellow Hair                20
Name: name, dtype: int64

In [22]:
# Calculate probability of character having a red hair

red_prob = hair_color["Red Hair"]/len(df["name"])
red_prob

0.03786028334147533

In [23]:
# Calculate probability of character being female and has red hair i.e.joint probability

female_prob * red_prob

0.008870902978825162

In [24]:
# Calculate joint probability in terms of percentage

female_prob * red_prob * 100

0.8870902978825161

In [39]:
# Given that character is female, calculate the probability of having green eyes (CONDITIONAL PROBABILITY)

# Get Female Character Count

female_count = df[df["SEX"] == "Female Characters"].SEX.count()

# Get Green Eyes Count

green_count = df[df["EYE"] == "Green Eyes"].EYE.count()

# Get Female Character with Green Eyes Count

female_green_count = df[(df.SEX == "Female Characters") & (df.EYE == "Green Eyes")].SEX.count()

# Female Character Probability

female_prob

# Probability of female with green eyes

female_green_prob = female_green_count / len(df["name"])
female_green_prob

# Conditional probability of female with green eyes

female_green_prob / female_prob

0.06984623403700807

In [48]:
# Calculate the odds in favour of living characters

# Calculate the Count of Living Characters

alive = df.groupby(["ALIVE"]).count()["name"]
living_count = alive[1]
living_count

# Probability of Living Characters

living_prob = living_count / len(df["name"])
living_prob

# Probability of Characters other than living

other_prob = 1 - living_prob
other_prob

# Odds in Favour of Living Characters

odds = living_prob / other_prob
odds

3.3460721868365177