In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Datasets/supermarket.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84881 entries, 0 to 84880
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductCode    84881 non-null  object
 1   Date           84881 non-null  object
 2   Amount         84881 non-null  float64
 3   Received Cash  84881 non-null  float64
 4   CashierName    84881 non-null  object
dtypes: float64(2), object(3)
memory usage: 3.2+ MB

## Calculating Mean, Median, Mode, Range, Variance, Standard Deviation on Amount Column

In [32]:
data["Amount"].mean()    # Mean

189.78110872868814

In [33]:
np.median(data["Amount"])    # Median

95.0

In [83]:
data["Amount"].mode()[0]   # Mode

50.0

In [35]:
np.max(data["Amount"]) - np.min(data["Amount"])    # Range

15036.8

In [37]:
np.var(data["Amount"])   # Variance

80673.57892599171

In [39]:
np.std(data["Amount"])   #Standard Deviation

284.03094712723066

## Calculating Mean, Median, Mode, Range, Variance, Standard Deviation on Received Cash Column

In [41]:
data["Received Cash"].mean()   #Mean

185273189.80236167

In [42]:
np.median(data["Received Cash"])    # Median

155.0

In [82]:
data["Received Cash"].mode()[0]   # Mode

200.0

In [44]:
np.max(data["Received Cash"]) - np.min(data["Received Cash"])    # Range

7500000000000.0

In [45]:
np.var(data["Received Cash"])   # Variance

1.3314752578951195e+21

In [46]:
np.std(data["Received Cash"])   #Standard Deviation

36489385551.07662

## Calculating Mean, Median, Mode, Range, Variance, Standard Deviation on Amount Column Grouped By Cashier Name

In [63]:
data.groupby("CashierName").Amount.mean().sort_values(ascending = False)   # Mean

CashierName
ELI C.           246.795213
ALE DIAZ         216.268401
GABY LUCIO       214.441235
MIRIAM LANDIN    213.675364
LINA             209.791741
ROSI MEJIA       208.866889
MIRIAM           208.206072
ALE HUERTA       207.716125
FERNANDO C       203.372877
MAYTE            202.468611
MARICRUZ         200.044476
JUAN MARTIN      198.642313
JESUS PEREZ      194.092549
JANET            189.681764
EDUARDO V        170.258569
EDUARDO          164.768130
JAQUELINE        114.751490
MONSE L.          90.563916
MAGO              89.643449
SARAHY            76.866814
CLAUDIA           61.223397
Name: Amount, dtype: float64

In [64]:
data.groupby("CashierName").Amount.median().sort_values(ascending = False)   # Median

CashierName
ELI C.           150.475
ROSI MEJIA       110.000
ALE DIAZ         109.950
MIRIAM           109.400
LINA             107.750
GABY LUCIO       106.150
MAYTE            106.000
ALE HUERTA       104.100
MIRIAM LANDIN    102.650
FERNANDO C       102.450
JUAN MARTIN      102.350
MARICRUZ         100.000
JESUS PEREZ      100.000
JANET             96.375
EDUARDO           87.000
EDUARDO V         81.500
JAQUELINE         40.900
MAGO              40.000
MONSE L.          35.040
SARAHY            33.890
CLAUDIA           29.500
Name: Amount, dtype: float64

In [17]:
dic = dict()
for i, df in data.groupby("CashierName"):
    dic[i] = df["Amount"].mode()[0]
dic_S = pd.Series(dic)
dic_S

ALE DIAZ         100.0
ALE HUERTA        50.0
CLAUDIA           20.0
EDUARDO           21.0
EDUARDO V         12.0
ELI C.            10.5
FERNANDO C        50.0
GABY LUCIO        10.0
JANET            100.0
JAQUELINE         12.0
JESUS PEREZ      100.0
JUAN MARTIN       10.0
LINA              50.0
MAGO               1.0
MARICRUZ          50.0
MAYTE            100.0
MIRIAM            50.0
MIRIAM LANDIN     10.0
MONSE L.          50.0
ROSI MEJIA        10.0
SARAHY             3.0
dtype: float64

In [18]:
dic = dict()
for i, df in data.groupby("CashierName"):
    dic[i] = df["Amount"].max() - df["Amount"].min()
dic_S = pd.Series(dic)
dic_S

ALE DIAZ          3297.31
ALE HUERTA        6350.76
CLAUDIA           1002.50
EDUARDO           1875.22
EDUARDO V         4130.65
ELI C.            2557.21
FERNANDO C        6606.52
GABY LUCIO        4489.45
JANET             5235.70
JAQUELINE         5179.95
JESUS PEREZ       5705.20
JUAN MARTIN       7007.83
LINA              6929.12
MAGO              1519.50
MARICRUZ          5138.94
MAYTE             5607.73
MIRIAM            3498.45
MIRIAM LANDIN     3363.00
MONSE L.         13568.38
ROSI MEJIA        3659.45
SARAHY            2286.00
dtype: float64

In [19]:
dic = dict()
for i, df in data.groupby("CashierName"):
    dic[i] = np.var(df["Amount"])
dic_S = pd.Series(dic)
dic_S

ALE DIAZ          89521.680469
ALE HUERTA        87398.536239
CLAUDIA           10008.887191
EDUARDO           53323.791197
EDUARDO V         71078.379059
ELI C.           117438.168388
FERNANDO C        85487.523563
GABY LUCIO        96260.542200
JANET             78763.075646
JAQUELINE         56493.440304
JESUS PEREZ       76699.428400
JUAN MARTIN       79420.419581
LINA              95047.344225
MAGO              21681.269134
MARICRUZ          79644.182289
MAYTE             78565.776931
MIRIAM            85088.389500
MIRIAM LANDIN     95122.044854
MONSE L.          76115.826009
ROSI MEJIA        82161.711082
SARAHY            20546.233947
dtype: float64

In [21]:
dic = dict()
for i, df in data.groupby("CashierName"):
    dic[i] = np.std(df["Amount"])
dic_S = pd.Series(dic)
dic_S

ALE DIAZ         299.201739
ALE HUERTA       295.632434
CLAUDIA          100.044426
EDUARDO          230.919447
EDUARDO V        266.605287
ELI C.           342.692527
FERNANDO C       292.382495
GABY LUCIO       310.258831
JANET            280.647600
JAQUELINE        237.683488
JESUS PEREZ      276.946617
JUAN MARTIN      281.816287
LINA             308.297493
MAGO             147.245608
MARICRUZ         282.213009
MAYTE            280.295874
MIRIAM           291.699142
MIRIAM LANDIN    308.418620
MONSE L.         275.890968
ROSI MEJIA       286.638642
SARAHY           143.339576
dtype: float64

## Calculating Mean, Median, Mode, Range, Variance, Standard Deviation on Received Cash Column Grouped By Cashier Name

In [22]:
data.groupby("CashierName")["Received Cash"].mean().sort_values(ascending = False)   # Mean

CashierName
ALE HUERTA       8.048053e+08
JUAN MARTIN      7.290831e+08
MAYTE            8.803194e+05
JANET            2.253275e+04
LINA             6.548626e+03
GABY LUCIO       5.724789e+02
FERNANDO C       3.386236e+02
ALE DIAZ         3.326913e+02
ELI C.           3.275134e+02
MIRIAM LANDIN    2.796833e+02
MIRIAM           2.787088e+02
ROSI MEJIA       2.758529e+02
MARICRUZ         2.676602e+02
JESUS PEREZ      2.622993e+02
EDUARDO V        2.260040e+02
EDUARDO          2.148254e+02
JAQUELINE        1.630144e+02
MONSE L.         1.390938e+02
MAGO             1.307860e+02
SARAHY           1.216378e+02
CLAUDIA          1.008619e+02
Name: Received Cash, dtype: float64

In [23]:
data.groupby("CashierName")["Received Cash"].median().sort_values(ascending = False)   # Median

CashierName
ALE DIAZ         200.00
ALE HUERTA       200.00
ROSI MEJIA       200.00
MIRIAM LANDIN    200.00
MIRIAM           200.00
MAYTE            200.00
MARICRUZ         200.00
LINA             200.00
JUAN MARTIN      200.00
JESUS PEREZ      200.00
GABY LUCIO       200.00
FERNANDO C       200.00
ELI C.           200.00
JANET            154.00
EDUARDO V        110.00
EDUARDO          110.00
JAQUELINE         56.76
MAGO              51.50
MONSE L.          50.00
CLAUDIA           50.00
SARAHY            50.00
Name: Received Cash, dtype: float64

In [24]:
dic = dict()
for i, df in data.groupby("CashierName"):
    dic[i] = df["Received Cash"].mode()[0]     # Mode
dic_S = pd.Series(dic)
dic_S

ALE DIAZ         200.0
ALE HUERTA       200.0
CLAUDIA           50.0
EDUARDO          200.0
EDUARDO V        100.0
ELI C.           500.0
FERNANDO C       200.0
GABY LUCIO       200.0
JANET            100.0
JAQUELINE         50.0
JESUS PEREZ      200.0
JUAN MARTIN      200.0
LINA             200.0
MAGO              50.0
MARICRUZ         200.0
MAYTE            200.0
MIRIAM           200.0
MIRIAM LANDIN    100.0
MONSE L.          50.0
ROSI MEJIA       200.0
SARAHY            50.0
dtype: float64

In [25]:
dic = dict()
for i, df in data.groupby("CashierName"):
    dic[i] = df["Received Cash"].max() - df["Received Cash"].min()   # Range
dic_S = pd.Series(dic)
dic_S

ALE DIAZ         5.050200e+04
ALE HUERTA       7.500000e+12
CLAUDIA          8.865000e+02
EDUARDO          1.874720e+03
EDUARDO V        4.000000e+03
ELI C.           2.595000e+03
FERNANDO C       6.236230e+05
GABY LUCIO       7.607860e+05
JANET            8.005297e+07
JAQUELINE        5.000000e+03
JESUS PEREZ      5.299200e+03
JUAN MARTIN      7.500000e+12
LINA             7.455689e+06
MAGO             1.699000e+03
MARICRUZ         6.000000e+03
MAYTE            4.897456e+09
MIRIAM           4.410000e+03
MIRIAM LANDIN    3.272000e+03
MONSE L.         1.327000e+04
ROSI MEJIA       4.008000e+03
SARAHY           2.214000e+03
dtype: float64

In [28]:
dic = dict()
for i, df in data.groupby("CashierName"):
    dic[i] = np.var(df["Received Cash"])    # Variance
dic_S = pd.Series(dic)
dic_S

ALE DIAZ         2.002563e+06
ALE HUERTA       5.556850e+21
CLAUDIA          1.841986e+04
EDUARDO          6.092272e+04
EDUARDO V        8.585394e+04
ELI C.           1.329045e+05
FERNANDO C       3.869736e+07
GABY LUCIO       2.232490e+08
JANET            1.782597e+12
JAQUELINE        6.928931e+04
JESUS PEREZ      9.312595e+04
JUAN MARTIN      5.467535e+21
LINA             4.650416e+10
MAGO             3.380057e+04
MARICRUZ         9.724256e+04
MAYTE            4.309211e+15
MIRIAM           1.073193e+05
MIRIAM LANDIN    1.147165e+05
MONSE L.         9.064517e+04
ROSI MEJIA       9.980571e+04
SARAHY           3.137630e+04
dtype: float64

In [27]:
dic = dict()
for i, df in data.groupby("CashierName"):
    dic[i] = np.std(df["Amount"])     # Standard Deviation
dic_S = pd.Series(dic)
dic_S

ALE DIAZ         299.201739
ALE HUERTA       295.632434
CLAUDIA          100.044426
EDUARDO          230.919447
EDUARDO V        266.605287
ELI C.           342.692527
FERNANDO C       292.382495
GABY LUCIO       310.258831
JANET            280.647600
JAQUELINE        237.683488
JESUS PEREZ      276.946617
JUAN MARTIN      281.816287
LINA             308.297493
MAGO             147.245608
MARICRUZ         282.213009
MAYTE            280.295874
MIRIAM           291.699142
MIRIAM LANDIN    308.418620
MONSE L.         275.890968
ROSI MEJIA       286.638642
SARAHY           143.339576
dtype: float64